doctype html

mixin infoField(fieldLabel, fieldValue)
    dt=fieldLabel
    dd=fieldValue

mixin booleanOnOffField(fieldLabel, fieldName, fieldValue)
    .form-group
        label.col-sm-4.control-label=fieldLabel
        .col-sm-8
            label.radio-inline
                input(type='radio', name=fieldName, value=1, checked=(fieldValue == true))
                | On
            label.radio-inline
                input(type='radio', name=fieldName, value=0, checked=(fieldValue == false))
                | Off

mixin booleanYesNoField(fieldLabel, fieldName, fieldValue)
    .form-group
        label.col-sm-4.control-label=fieldLabel
        .col-sm-8
            label.radio-inline
                input(type='radio', name=fieldName, value=1, checked=(fieldValue == true))
                | Yes
            label.radio-inline
                input(type='radio', name=fieldName, value=0, checked=(fieldValue == false))
                | No

html
    head
        title Ubudu rPi management
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/prettify.css')
        link(rel='stylesheet', href='/stylesheets/leaflet.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block main
            block header
                include common/header

            .container
                block content

            block footer
                include common/footer

    block javascripts
        script(src='/javascripts/vendor/modernizr.min.js')
        script(src='/javascripts/vendor/jquery.min.js')
        script(src='/javascripts/vendor/bootstrap.min.js')
        script(src='/javascripts/vendor/moment.min.js')
        script(src='/javascripts/vendor/jquery.inputmask.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/vendor/prettify.js')
        script(src='/javascripts/vendor/leaflet.js')
        script(src='/javascripts/app.js')
        script(src='/javascripts/beacon/header.js')
